#root {
  width: 100%; 
  margin: 0 auto;
  padding: 1rem;
}

td {
  min-width: '50px';
}

.leaderboard-img {
  height: 25px;
  width: 25px
}

.leaderboard-flag {
  height: 12px;
  width: 20px
}

main {
  width: '95%';
  margin-top: '75px';
  
}

.hidden {
  display: none;
}

.label-small {
  font-size: .66rem;
}

.nav-link {
  color: #198754 !important;
}

#tournament-info-dropdown, #fantasy-info-dropdown, #logged-out-dropdown, #logged-in-dropdown {
  color: #fff !important;
  min-width: '300px'!important;

}

#log-in-form, #logged-out-dropdown, .login-form-group {
  min-width: '300px'!important;
  max-width: '500px'!important;
}

.scorecard-cell {
  width: 25px;
  height: 25px;
}

.eagle-better::after {
  box-sizing: content-box;
  content: ' ';
  position: absolute;
  height: 14px;
  width: 14px;
  margin: 0px 0 0 -11px;
  border: 1px solid rgb(220,53,69);
  border-radius: 50%
} 

.eagle-better::before {
  box-sizing: content-box;
  content: ' ';
  position: absolute;
  height: 20px;
  width: 20px;
  margin: -3px 0 0 -8px;
  border: 1px solid rgb(220,53,69);
  border-radius: 50%
}

.birdie::after {
  box-sizing: content-box;
  content: ' ';
  position: absolute;
  height: 14px;
  width: 14px;
  margin: 0px 0 0 -11px;
  border: 1px solid rgb(220,53,69);
  border-radius: 50%
}

.bogey::after {
  box-sizing: content-box;
  content: ' ';
  position: absolute;
  height: 14px;
  width: 14px;
  margin: 0px 0 0 -11px;
  border: 1px solid #000;
}

.double-bogey-worse::before {
  box-sizing: content-box;
  content: ' ';
  position: absolute;
  height: 20px;
  width: 20px;
  margin: -3px 0 0 -8px;
  border: 1px solid #000;
}

.double-bogey-worse::after {
  box-sizing: content-box;
  content: ' ';
  position: absolute;
  height: 14px;
  width: 14px;
  margin: 0px 0 0 -11px;
  border: 1px solid #000;
}

.leaderboard-header {
  font-size: smaller !important;
}
